* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background:#eee;
}

.container {
  display: grid;
  grid-template-rows: 2fr 10fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
}

.board {
  height: 700px;
  width: 700px;
  border-radius: 25px;
  background: #eee;
  box-shadow: 25px 25px 50px #cacaca, -25px -25px 50px #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-area: 2 / 2;
}

.board * {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  background: #eee;
  box-shadow: 5px 5px 10px #cacaca, -5px -5px 10px #fff;
}

.cell {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 100px;
  color: rgb(200, 200, 200);
  text-shadow: 2px 2px white, -2px -2px #b6b6b6;
  background-clip: text;
  justify-content: center;
  align-items: center;
}

#c1 {
  justify-self: right;
  align-self: flex-end;
}

#c2 {
  justify-self: center;
  align-self: flex-end;
}

#c3 {
  justify-self: left;
  align-self: flex-end;
}

#c4 {
  justify-self: right;
  align-self: center;
}

#c5 {
  justify-self: center;
  align-self: center;
}

#c6 {
  justify-self: left;
  align-self: center;
}

#c7 {
  justify-self: right;
  align-self: flex-start;
}

#c8 {
  justify-self: center;
  align-self: flex-start;
}

#c9 {
  justify-self: left;
  align-self: flex-start;
}

.start {
  justify-self: center;
  grid-area: 4 / 2;
  border-color: transparent;
  border-radius: 7px;
  background: #eeeeee;
  box-shadow:  5px 5px 10px #cacaca, 
              -5px -5px 10px #ffffff;
  padding: 5px;
  font-weight: bold;
  font-size: 20px;
  color: rgb(180, 180, 180);
  /* text-shadow: 1px 1px white, -1px -1px #b6b6b6; */
}

.player {
  height: 50px;
  width: 250px;
  border-color: transparent;
  border-radius: 7px;
  background: #fff;
  box-shadow: inset 5px 5px 10px #d9d9d9, inset -5px -5px 10px #fff;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  font-size: 20px;
  color: rgb(180, 180, 180);
}

#p1 {
  grid-area: 2 / 1;
  justify-self: center;
  align-self: center;
}

#p2 {
  grid-area: 2 / 3;
  justify-self: center;
  align-self: center;
}

.turn {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: rgb(200, 200, 200);
  text-shadow: 1px 1px white, -1px -1px #b6b6b6;
  background-clip: text;
}

#turnP1 {
  margin: 100px;
  grid-area: 2 / 1;
  justify-self: center;
  align-self: start;
}

#turnP2 {
  margin: 100px;
  grid-area: 2 / 3;
  justify-self: center;
  align-self: start;
}

.msg {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: rgb(200, 200, 200);
  text-shadow: 1px 1px white, -1px -1px #b6b6b6;
  background-clip: text;
  grid-area: 1 / 1 / 1 / 4;
  justify-self: center;
}